# Ignore service account
src/firebase-service-account.json

dist/

package-lock.json
package.json

# Ignore node modules
node_modules/

battleship-api-c3847-firebase-adminsdk-fbsvc-ecd69c3985.json

src/firebase
firebase-service-account.json
*-firebase-adminsdk-*.json
dist/

